* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
  background-image: url('/public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ba0b1e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

